body {
  margin: 0;
  background-color: turquoise;
}
/* Position Options
  static - default position
  absolute - positions something in    relation to the window or its position parent element
  relative - positions relative to where it falls on the page
  fixed - positions it and fixes it at that point, scroll does not matter
*/
div {
  width: 400px;
  height: 400px;
  background-color: red2;
}
.relative {
  background-color: red;
  position: relative;
  top: 200px;
  left: 200px;
}
.relative2 {
  width: 400px;
  height: 400px;
  background-color: blue;
  position: relative;
  top: 400px;
  left: 800px;
}
.absolute {
  background-color: aquamarine;
  position: absolute;
  top: 4000px;
  left: 400px;
}
.absolute2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}
.fixed {
  background-color: firebrick;
  position: fixed;
  top: 200px;
  left: 800px;
}

/* EXERCISE 8 CSS */
/* has relative positioning to move the divs contained within */
.container {
  width: 0;
  height: 0;
  background-color: red;
  position: relative;
  top: 589px;
  left: 600px;
}
.left-circle, .right-circle, .heart {
  background-color: #ff0066;
  position: absolute;
  width: 200px;
  height: 200px;
}
.left-circle {
  border-radius: 100%;
  top: 251px;
  left: 230px;
}
.right-circle {
  border-radius: 100%;
  top: 251px;
  left: 370px;
}
.heart {
  transform: rotate(45deg);
  top: 321px;
  left: 300px;
}
.boat {
	content: "";
	position: absolute;
	top: 450px;
	left: -350px;
	border-top: 9vw solid #FF9950;
	border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
}

.staff {
  width: 8px;
  height: 400px;
  background-color: steelblue;
  position: relative;
  top: 96px;
  left: -103px;
  }

  .sail {
  width: 150px;
  height: 150px;
  background-color: white;
  position: absolute;
  transform: rotate(45deg);
  top: 130px;
  left: -170px;
  }

   .sail2 {
  width: 210px;
  height: 210px;
  background-color: turquoise;
  position: absolute;
  top: 100px;
  left: -305px;
  }
  .water {
  width: 100%;
  height: 210px;
  background-color: skyblue;
  position: fixed;
  bottom: 0;
  }
