* {
  box-sizing: border-box;
}
body {
  margin: 100px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  background-color: #F7F4F2;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

p {
  width: 400px;
  margin-bottom: 1em;
  margin-left: 60px;
  font-size: 9px;
  font-family: 'Playfair Display', serif;
  color: #4A4846;
}

#tt {
  letter-spacing: 9px;
}

h1, h2, h3 {
  margin: 2.75rem 0 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  color: #4A4846;
}

h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: 3.052em;
  letter-spacing: 4px;
  color: #343230;
}

h2 {
  margin-top: -5px;
  margin-bottom: -20px;
  font-size: 22px;
  font-weight: 300;
  color: #4A4846;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #4A4846;
}

small, .text_small {font-size: 0.8em;}
