.dimgrey {
    color: dimgrey;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
    color: dimgrey;
}
div {
  width: 600px;
  margin: 50px auto;
}
div {
}
h1 {
font-size: 30px;
}
p {
  width: 50vw;
}
img {
  width: 50vw;
}
